.datePicker {
  text-align: center;
  height: 50px;
  border: none;
  outline: none;
  width: 100%;
  background-color: var(--color-searchbar-dm);
}

.datePicker:hover,
.datePicker:focus {
  background-color: var(--color-searchbar-dm);
  cursor: pointer;
}

.datePicker::placeholder {
  color: var(--color-text-toned-dm);
}

.datePicker:focus::placeholder {
  color: transparent;
}
